*.o
*.ppu
*.tmp

08. Economía de la Distribución/Trabajo Final/Datos/.dta/
08. Economía de la Distribución/Trabajo Final/Datos/.fig/Figura 5 (a).gph
08. Economía de la Distribución/Trabajo Final/Datos/.fig/Figura 5 (b).gph
08. Economía de la Distribución/Trabajo Final/Datos/.fig/Figura 5 (c).gph
08. Economía de la Distribución/Trabajo Final/Datos/.fig/Figura 5 (d).gph
08. Economía de la Distribución/Trabajo Final/Datos/.fig/Figura A9 (a).gph
08. Economía de la Distribución/Trabajo Final/Datos/.fig/Figura A9 (b).gph
08. Economía de la Distribución/Trabajo Final/Datos/.fig/Figura A9 (c).gph
08. Economía de la Distribución/Trabajo Final/Datos/.fig/Figura A9 (d).gph
08. Economía de la Distribución/Trabajo Final/Datos/.fig/Figura A9 (e).gph
08. Economía de la Distribución/Trabajo Final/Datos/.fig/Figura A9 (f).gph
08. Economía de la Distribución/Trabajo Final/Datos/.fig/Figura A9 (g).gph
08. Economía de la Distribución/Trabajo Final/Datos/.fig/Figura A9 (h).gph
08. Economía de la Distribución/Trabajo Final/Datos/.fig/Figura A9 (i).gph
08. Economía de la Distribución/Trabajo Final/Datos/.fig/Figura A9 (j).gph
08. Economía de la Distribución/Trabajo Final/Datos/.fig/Figura A9 (k).gph
08. Economía de la Distribución/Trabajo Final/Datos/.fig/Figura A9 (l).gph
08. Economía de la Distribución/Trabajo Final/Datos/.fig/Figura A9 (m).gph
08. Economía de la Distribución/Trabajos Prácticos/Trabajo Práctico N° 7/Datos/Bases ENGHo (2012-2013)/ENGHo - Gastos por tipo de negocio y forma de pago.txt

13. Economía Laboral/Trabajos Prácticos/Trabajo Práctico N° 2/Datos/AK.dta
13. Economía Laboral/Trabajos Prácticos/Trabajo Práctico N° 4/Datos/Bases/arg-panel.dta
13. Economía Laboral/Trabajos Prácticos/Trabajo Práctico N° 4/Datos/Bases/arg_t108.dta
13. Economía Laboral/Trabajos Prácticos/Trabajo Práctico N° 4/Datos/Bases/arg_t109.dta
13. Economía Laboral/Trabajos Prácticos/Trabajo Práctico N° 4/Datos/Bases/arg_t208.dta
13. Economía Laboral/Trabajos Prácticos/Trabajo Práctico N° 4/Datos/Bases/arg_t209.dta
13. Economía Laboral/Trabajos Prácticos/Trabajo Práctico N° 4/Datos/Bases/arg_t308.dta
13. Economía Laboral/Trabajos Prácticos/Trabajo Práctico N° 4/Datos/Bases/arg_t408.dta
13. Economía Laboral/Trabajos Prácticos/Trabajo Práctico N° 4/Datos/Bases/panel-arg.dta

16. Economía de Género/Trabajo Práctico/Alternativas/WVS/Base.dta

21. Tesis/Datos/.dta/
21. Tesis/Datos/.fig/Figura 4 (a).gph
21. Tesis/Datos/.fig/Figura 4 (b).gph
21. Tesis/Datos/.fig/Figura 4 (c).gph
21. Tesis/Datos/.fig/Figura 4 (d).gph

22. Python para Economistas/Material teórico/Notas de clase/Clase 5/casos_covid19.csv
22. Python para Economistas/Trabajos Prácticos/Trabajo Práctico N° 6/ar_properties.csv.gz